<ul>
    <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
    <li><a id="newsLink" class="<%= path === '/news' ? 'active' : '' %>" href="/">News</a></li>
    <li><a id="contactLink" class="<%= path === '/contact' ? 'active' : '' %>" href="/">Contact</a></li>
    <li><a id="aboutLink" class="<%= path === '/about' ? 'active' : '' %>" href="/">About</a></li>
    <li id="showAdmin"><a id="adminLink" class="<%= path === '/admin' ? 'active' : '' %>" href="/admin">Admin</a></li>
    <li id="logout" class="logout"><a onclick="logout()" href="/">Logout</a></li>
    <li id="login" class="login"><a href="login">Login</a></li>
</ul>